
/* Styles for the login page */
.login-container {
  max-width: 600px;
  margin: 100px auto;
  height: 500px;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.login-container h2 {
  margin-bottom: 20px;
  display: flex;
  
  
 
}

.form-group {
  margin-bottom: 30px;
  font-size: large;
  padding: 1px;
  gap: 5px;
  

 
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #282c34;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  height: 50px;
  min-height: -10PX;
  
  
}

button:hover {
  background-color: #3b3f47;
}